NEXT_PUBLIC_SUPABASE_URL=https://yjbjyqptwepfjaecdfqw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_xNdyWRSam0cCm5JwgL5xZQ_rZ5Nbrja
SUPABASE_SERVICE_ROLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3000

